.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog {
    width: 90vw;
    max-width: 600px;
    height: auto;
    max-height: 90vh;
    background-color: white;
    border: 1px solid #dfe1e6;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 24px 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

