.column {
    min-height: 40em;
    min-width: 20em;
    border-radius: 10px;
    background-color: #f4f5f7;
}

    .column .column-header {
        height: 10%;
        display: flex;
        padding: 10px;
        gap: 10px;
    }

        .column .column-header .column-name {
            font-weight: bold;
            color: #657288;
        }

        .column .column-header .column-ticket-count {
            color: #abb2bf;
        }
